.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    padding: 20px;
}

.loading-view {
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.loading-text {
    margin-top: 5px;
    font-size: 22px;
    font-family: Helvetica;
}

.graph-view {
    width: 600px;
}

.graph-title {
    font-family: Helvetica;
    font-size: 20px;
}

.graph {
    height: 250px;
    width: 600px;
}

.react-calendar-heatmap .color-scale-0 { fill: #ebedf0; }
.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }
.react-calendar-heatmap .color-scale-6 { fill: #1b5a27; }
.react-calendar-heatmap .color-scale-7 { fill: #1c4622; }
.react-calendar-heatmap .color-scale-8 { fill: #183218; }